/* Member Tree Styles */
#member-tree {
	position: relative;
	height: 950px;
}
#member-tree > div {
	position: absolute;
	border-radius: 16px;
	border: 1px solid #197576;
	width: 150px;
	height: 120px;
	left: 50%;
	font-size: 14px;
	text-align: center;
	line-height: 120px;
	transition: all 0.5s ease 0s;
	box-shadow: 0 0 10px #000;
}
#codex-wolf {
	position: absolute;
	border-radius: 16px;
	border: 1px solid #197576;
	width: 150px;
	height: 200px;
	top: 240px;
	margin-left: 350px;
	padding:10px;
	left: 50%;
	font-size: 14px;
	line-height: 30px;
	transition: all 0.5s ease 0s;
	box-shadow: 0 0 10px #000;
	z-index: 100000;
	background: linear-gradient(to bottom, rgba(9, 47, 49, 0.5) 0%, rgba(2, 7, 10, 0.5) 100%);
}
#explain {
	position: absolute;
	border-radius: 16px;
	border: 1px solid #197576;
	width: 800px;
	height: 200px;
	top: 240px;
	margin-left: -500px;
	padding:10px;
	left: 50%;
	font-size: 12px;
	line-height: 20px;
	transition: all 0.5s ease 0s;
	box-shadow: 0 0 10px #000;
	z-index: 100000;
	background: linear-gradient(to bottom, rgba(9, 47, 49, 0.5) 0%, rgba(2, 7, 10, 0.5) 100%);
}
#formation-tree div:hover {
	font-size: 16px;
	transition: all 0.5s ease 0s;
}
#member-tree > div:hover {
	font-size: 16px;
	transition: all 0.5s ease 0s;
}
#member-tree > div:before,
#member-tree > div:after {
	content: "";
	display: block;
	position: absolute;
}
#member-tree .rank {
	border: 2px solid #ffd700;
}
#member-tree .na {
	opacity: 0.5;
}
#member-tree .na:hover {
	opacity: 1.0;
}
#member-tree div p {
	font-size: 13px;
	line-height: 12px;
	margin-top: -20px;
}
#member-tree div div {
	height: 100%;
}

/* Equipment Output */
.ok {
	color: #afa;
	font-weight: bold;
}
.notok {
	color: #faa;
}

/* Rank Box Grades */
.pass {
	background-image: url("../img/bg-rank-complete.png");
	background-position: right top;
	background-repeat: no-repeat;
}
.fail {
	background-image: url("../img/bg-rank-inprogress.png");
	background-position: right top;
	background-repeat: no-repeat;
}
.fail.na {
	background-image: url("../img/bg-rank-notavailable.png");
	background-position: right top;
	background-repeat: no-repeat;
}

/* Rank Box Position Styles */
#member {
	top: 50px;
	margin-left: -76px;
}
#wolf-ops {
	top: 200px;
	margin-left: -76px;
}
#eagle-ops {	
top: 200px;	
margin-left: -600px;
}
#scythe {	
top: 350px;	
margin-left: -600px;
}
#liberator {	
top: 500px;	
margin-left: -600px;
}
#galaxy {	
top: 650px;	
margin-left: -600px;
}
#valkyrie {	
top: 800px;	
margin-left: -600px;
}
#rhino-ops {
	top: 200px;
	margin-left: 450px;
}
#sunderer {
	top: 650px;
	margin-left: 275px;
}
#magrider {
	margin-left: 450px;
	top: 350px;
}
#lightning {
	margin-left: 450px;
	top: 500px;
}
#harasser {
	margin-left: 450px;
	top: 650px;
}
#flash {
	margin-left: 450px;
	top: 800px;
}
#commander {
	top: 350px;
	margin-left: -425px;
}
#combat-medic {
	top: 350px;
	margin-left: -250px;
}
#light-assault {
	top: 350px;
	margin-left: -75px;
}
#heavy-assault {
	top: 350px;
	margin-left: 100px;
}
#engineer {
	top: 500px;
	margin-left: -250px;
}
#infiltrator {
	top: 500px;
	margin-left: -75px;
}
#max {
	top: 500px;
	margin-left: 100px;
}
#zebra-ops {
	top: 1100px;
	margin-left: -251px;
}
#snake-ops {
	top: 1100px;
	margin-left: -76px;
}
#tiger-ops {
	top: 1100px;
	margin-left: 99px;
}
#falcon-ops {
	top: 1250px;
	margin-left: -600px;
}
#buffalo-ops {
	top: 1250px;
	margin-left: 450px;
}
#server-smash {
	top: 1275px;
	margin-left: -76px;
}
/* Rank Box Connection Styles */
